@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Netflix motion */
* {
  scroll-behavior: smooth;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
